# Data Analytics in Healthcare

## Week 2 - Data Manipulation

Objectives: 

- Structure data and save as CSV
- Read and write data to a database
- Use SQL to manipulate data

In [5]:
import pandas as pd
import csv
from sqlalchemy import create_engine, MetaData

### 1. Gather the data from the various JSON files

Get the data from the different data files in a tablular format such as: 

Trial_ID | JSON_data 
--- | ---
ID | Data

In [6]:
engine = create_engine(r'postgresql://sayan:postgres@lw/clinicaltrials')

### 2. Create Database and Tables

Create a database called "clinicaltrials" using the following command:

```
    createdb mydb
```

To create a table in the database, follow the following syntax:

```
CREATE TABLE weather (
    city            varchar(80),
    temp_lo         int,           -- low temperature
    temp_hi         int,           -- high temperature
    prcp            real,          -- precipitation
    date            date
);
```

The syntax asks for the name of the table, each of the columns it needs to have, as well as the type of the table.

1. Create a table to reflect the format in the cell above. Note that every query must be terminated with a ";"
2. Create another table to reflect the trial types.

HINT: There is a special datatype (not varchar) for large, free form text that can be used for storing the JSON.


---

Syntax for dropping a table is:

```
DROP TABLE table_name;
```

### 3. Insert data into table

To insert data into a table, you can use the following SQL query syntax:

```
INSERT INTO TABLE_NAME (column1, column2, column3,...columnN)
VALUES (value1, value2, value3,...valueN);
```

While writing data from a Pandas dataframe, you will use the SQLAlchemy features describe in [this link](http://docs.sqlalchemy.org/en/latest/core/engines.html). 

After creating the connection you can use the pandas function 

```
engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')
df.to_sql('table_name', engine)
```

Enter data into the tables created in the step above.

### 4. Read data from a table

In SQL, the most common operation is to read data from a table. In order to do that, one uses the SELECT query statement. The basic syntax is given below:

```
SELECT 
    column1, 
    column2, 
    columnN 
FROM 
    table_name --the table name could be another query itself
WHERE
    column1 = value
OR
    column2 BETWEEN a AND b
ORDER BY
    columnN DESC
LIMIT
    10;
```