# Data Analytics in Healthcare

## Week 2 - Data Manipulation

Objectives: 

- Structure data and save as CSV
- Read and write data to a database
- Use SQL to manipulate data

In [ ]:
import pandas as pd
import csv
from sqlalchemy import create_engine, MetaData

from psycopg2 import connect
import sys
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [ ]:
def execute_sql(query, con=None, close_connection=True):
    '''
        This is a helper function which executes a query given a connection.
    '''
    
    # Use default connection if no connecion is given
    if con is None:
        con = connect(dbname='postgres', user='postgres', host = 'localhost', password='DataSciWorkshop')
        
    con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
    cur = con.cursor()
    
    # Execute SQL
    cur.execute(query)
    
    if close_connection:
        cur.close()
        con.close()

### Connect to the database and create a new data base

Create a database called "clinicaltrials" using the following command:

```
    CREATE DATABASE mydb
```

In [ ]:
# Create new connection, use the password you just created
con = None
con = connect(dbname='postgres', user='postgres', host = 'localhost', password='datasciworkshop')

# Give your database a name
dbname = "clinical_trials"

execute_sql(query="CREATE DATABASE " + dbname, con=con)

### 1. Gather the data from the trial API

Get the data from the different data files in a tablular format using Pandas.

Using create_engine (from SQLalchemy) to create a connection that is usable by pandas.

Then, use df.to_sql to write the data into the database.

Note, that dictory/json types cannot be written directly into the database. We must remove these columns from the dataframe before writing to the database table. To remove a column from a dataframe, use the 

```
    df.drop() function
```

The columns which have that are:

```
    "arms", "sites", "biomarkers","collaborators", "diseases", "eligibility.unstructured","other_ids"
```


While writing data from a Pandas dataframe, you will use the SQLAlchemy features describe in [this link](http://docs.sqlalchemy.org/en/latest/core/engines.html). 

After creating the connection you can use the pandas function 

```
engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')
df.to_sql('table_name', engine)
```



**BONUS**:

Create other tables from any one of the columns that you have removed.

In [ ]:
# Populate the database

# replace with whatever query you want
api_args = "clinical-trials?eligibility.structured.gender=female&sites.org_state_or_province=CA&size=50"

json_text = get_response_json(api_args=api_args)

# Using pandas functions, convert the JSON into a Data Frame.
df = pd.io.json.json_normalize(json_text["trials"])

In [ ]:
# Create engine syntax
engine = create_engine('postgresql://postgres:datasciworkshop@localhost:5432/clinical_trials')

# Drop 
df.drop(["arms", "sites", "biomarkers","collaborators", "diseases", "eligibility.unstructured","other_ids"], inplace=True, axis=1)
df.to_sql('trial_details', engine, if_exists='replace')

### 2. Read data from a table

In SQL, the most common operation is to read data from a table. In order to do that, one uses the SELECT query statement. The basic syntax is given below:

```
SELECT 
    column1, 
    column2, 
    columnN 
FROM 
    table_name --the table name could be another query itself
WHERE
    column1 = value
OR
    column2 BETWEEN a AND b
ORDER BY
    columnN DESC
LIMIT
    10;
```

Write a query to 

see if brief_summary contains: "Aromatase inhibitors"
Min age is above 18, max age below 80 and completion_date is after 2002

### 3. Create Tables


To create a table in the database, follow the following syntax:

```
CREATE TABLE weather (
    city            varchar(80),
    temp_lo         int,           -- low temperature
    temp_hi         int,           -- high temperature
    prcp            real,          -- precipitation
    date            date
);
```

The syntax asks for the name of the table, each of the columns it needs to have, as well as the type of the table.

1. Create a table to reflect the format in the cell above. Note that every query must be terminated with a ";"
2. Create another table to reflect the trial types.

HINT: There is a special datatype (not varchar) for large, free form text that can be used for storing the JSON.


---

Syntax for dropping a table is:

```
DROP TABLE table_name;
```

### 3. Insert data into table

To insert data into a table, you can use the following SQL query syntax:

```
INSERT INTO TABLE_NAME (column1, column2, column3,...columnN)
VALUES (value1, value2, value3,...valueN);
```
Enter data into the tables created in the step above.